@tailwind base;
@tailwind components;
@tailwind utilities;

.pos__center {
    /* display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important; */
    margin: 0px auto !important;
}

