@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light {
    --color-bg-primary: #f5f5f5;
    --color-text-primary: #333333;
    --button-bg-primary: #ffffff;
    --button-bg-primary-secondary: #007b00;
  }
  .dark {
    --color-bg-primary: #ffffff;
    --color-text-primary: #2d3748;
    --button-bg-primary: #ffffff;
    --button-bg-primary-secondary: #007b00;
  }

  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.pos__center {
  margin: 0px auto !important;
}
