@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.light {
    --bg-subtle-white: #FFFFFF; /* Subtle white color for light theme */
    --bg-accent-white: #F5F5F5; /* Accent white color for light theme */
    --bg-primary-white: #fcfcfc; /* Primary white color for light theme */
    --bg-secondary-white: #CCCCCC; /* Secondary white color for light theme */
    --bg-emphasized-white: #E0E0E0; /* Emphasized white color for light theme */

    --bg-subtle-black: #333333; /* Subtle black color for light theme */
    --bg-accent-black: #555555; /* Accent black color for light theme */
    --bg-primary-black: #666666; /* Primary black color for light theme */
    --bg-secondary-black: #999999; /* Secondary black color for light theme */
    --bg-emphasized-black: #000000; /* Emphasized black color for light theme */

    --bg-subtle-blue: #85C1E9; /* Subtle blue color for light theme */
    --bg-accent-blue: #3498DB; /* Accent blue color for light theme */
    --bg-primary-blue: #2980B9; /* Primary blue color for light theme */
    --bg-secondary-blue: #5DADE2; /* Secondary blue color for light theme */
    --bg-emphasized-blue: #21618C; /* Emphasized blue color for light theme */

    --bg-subtle-green: #C8E6C9; /* Subtle green color for light theme */
    --bg-accent-green: #81C784; /* Accent green color for light theme */
    --bg-primary-green: #4CAF50; /* Primary green color for light theme */
    --bg-secondary-green: #AED581; /* Secondary green color for light theme */
    --bg-emphasized-green: #388E3C; /* Emphasized green color for light theme */


    --menu-open-bg: #F5F5F5;
        --text-color: #333333;
        --nav-hover: #E0E0E0;
        --button-hover: #35ad39;
        --button-primary: #4CAF50;
  }

  .dark {
    --bg-subtle-white: #E0E0E0; /* Subtle white color for dark theme */
    --bg-accent-white: #CCCCCC; /* Accent white color for dark theme */
    --bg-primary-white: #999999; /* Primary white color for dark theme */
    --bg-secondary-white: #666666; /* Secondary white color for dark theme */
    --bg-emphasized-white: #F5F5F5; /* Emphasized white color for dark theme */

    --bg-subtle-black: #0000007f; /* Subtle black color for dark theme */
    --bg-accent-black: #555555; /* Accent black color for dark theme */
    --bg-primary-black: #666666; /* Primary black color for dark theme */
    --bg-secondary-black: #333333; /* Secondary black color for dark theme */
    --bg-emphasized-black: #FFFFFF; /* Emphasized black color for dark theme */

    --bg-subtle-blue: #21618C; /* Subtle blue color for dark theme */
    --bg-accent-blue: #5DADE2; /* Accent blue color for dark theme */
    --bg-primary-blue: #2980B9; /* Primary blue color for dark theme */
    --bg-secondary-blue: #3498DB; /* Secondary blue color for dark theme */
    --bg-emphasized-blue: #85C1E9; /* Emphasized blue color for dark theme */

    --bg-subtle-green: #388E3C; /* Subtle green color for dark theme */
    --bg-accent-green: #AED581; /* Accent green color for dark theme */
    --bg-primary-green: #4CAF50; /* Primary green color for dark theme */
    --bg-secondary-green: #81C784; /* Secondary green color for dark theme */
    --bg-emphasized-green: #C8E6C9; /* Emphasized green color for dark theme */

    --menu-open-bg: #333333;
    --text-color: #F5F5F5;
    --nav-hover: #81C784;
    --button-hover: #35ad39;
    --button-primary: #4CAF50;
  }

  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.pos__center {
  margin: 0px auto !important;
}
