@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light {
    --bg-subtle-white: #ffffff; /* Subtle white color for light theme */
    --bg-accent-white: #f5f5f5; /* Accent white color for light theme */
    --bg-primary-white: #fcfcfc; /* Primary white color for light theme */
    --bg-secondary-white: #cccccc; /* Secondary white color for light theme */
    --bg-emphasized-white: #e0e0e0; /* Emphasized white color for light theme */

    --bg-subtle-black: #333333; /* Subtle black color for light theme */
    --bg-accent-black: #555555; /* Accent black color for light theme */
    --bg-primary-black: #666666; /* Primary black color for light theme */
    --bg-secondary-black: #999999; /* Secondary black color for light theme */
    --bg-emphasized-black: #000000; /* Emphasized black color for light theme */

    --bg-subtle-blue: #85c1e9; /* Subtle blue color for light theme */
    --bg-accent-blue: #3498db; /* Accent blue color for light theme */
    --bg-primary-blue: #2980b9; /* Primary blue color for light theme */
    --bg-secondary-blue: #5dade2; /* Secondary blue color for light theme */
    --bg-emphasized-blue: #21618c; /* Emphasized blue color for light theme */

    --bg-subtle-green: #c8e6c9; /* Subtle green color for light theme */
    --bg-accent-green: #81c784; /* Accent green color for light theme */
    --bg-primary-green: #4caf50; /* Primary green color for light theme */
    --bg-secondary-green: #aed581; /* Secondary green color for light theme */
    --bg-emphasized-green: #388e3c; /* Emphasized green color for light theme */

    --menu-open-bg: #f5f5f5;
    --text-color: #333333;
    --nav-hover: #e0e0e0;
    --button-hover: #35ad39;
    --button-primary: #4caf50;
  }

  .dark {
    --bg-subtle-white: #e0e0e0; /* Subtle white color for dark theme */
    --bg-accent-white: #cccccc; /* Accent white color for dark theme */
    --bg-primary-white: #999999; /* Primary white color for dark theme */
    --bg-secondary-white: #666666; /* Secondary white color for dark theme */
    --bg-emphasized-white: #f5f5f5; /* Emphasized white color for dark theme */

    --bg-subtle-black: #0000007f; /* Subtle black color for dark theme */
    --bg-accent-black: #555555; /* Accent black color for dark theme */
    --bg-primary-black: #666666; /* Primary black color for dark theme */
    --bg-secondary-black: #333333; /* Secondary black color for dark theme */
    --bg-emphasized-black: #ffffff; /* Emphasized black color for dark theme */

    --bg-subtle-blue: #21618c; /* Subtle blue color for dark theme */
    --bg-accent-blue: #5dade2; /* Accent blue color for dark theme */
    --bg-primary-blue: #2980b9; /* Primary blue color for dark theme */
    --bg-secondary-blue: #3498db; /* Secondary blue color for dark theme */
    --bg-emphasized-blue: #85c1e9; /* Emphasized blue color for dark theme */

    --bg-subtle-green: #388e3c; /* Subtle green color for dark theme */
    --bg-accent-green: #aed581; /* Accent green color for dark theme */
    --bg-primary-green: #4caf50; /* Primary green color for dark theme */
    --bg-secondary-green: #81c784; /* Secondary green color for dark theme */
    --bg-emphasized-green: #c8e6c9; /* Emphasized green color for dark theme */

    --menu-open-bg: #333333;
    --text-color: #f5f5f5;
    --nav-hover: #81c784;
    --button-hover: #35ad39;
    --button-primary: #4caf50;
  }

  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.pos__center {
  margin: 0px auto !important;
}

/* Style for the custom combobox container */
.custom-combobox {
  position: relative;
  display: inline-block;
}

/* Style for the combobox input */
option {
  appearance: none; /* Remove default styles in Firefox */
  -webkit-appearance: none; /* Remove default styles in Chrome and Safari */
}

select {
  appearance: none; /* Remove default styles in Firefox */
  -webkit-appearance: none; /* Remove default styles in Chrome and Safari */
}
/* Style for the dropdown arrow */
.custom-combobox::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow doesn't interfere with select interaction */
}
